<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="cg">
  <meta name="description" content="Στο κατάστημα οπτικών NEWLOOK θα βρείτε γυαλιά οράσεως και ηλίου, φακούς επαφής και υγρά των γνωστότερων εταιριών, αξεσουάρ
				και ο,τιδήποτε άλλο έχει σχέση με τα μάτια σας!">
  <meta property="og:url" content="http://newlook.cgeosoft.com">
  <meta property="og:title" content="NEWLOOK - Γυαλιά οράσεως και ηλίου, φακοί επαφής, αξεσουάρ και ότι έχει σχέση με τα μάτια σας">
  <meta property="og:image" content="http://newlook.cgeosoft.com/img/see.png">
  <meta property="og:description" content="Στο κατάστημα οπτικών NEWLOOK θα βρείτε γυαλιά οράσεως και ηλίου, φακούς επαφής και υγρά των γνωστότερων εταιριών, αξεσουάρ
				και ο,τιδήποτε άλλο έχει σχέση με τα μάτια σας!">
  <title>
    NEWLOOK - Γυαλιά οράσεως και ηλίου, φακοί επαφής, αξεσουάρ και ότι έχει σχέση με τα μάτια σας
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,700,700italic">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <main class="wrapper">

    <section class="container heading" id="logo">
      <div class="logo">
        <span class="icon-glasses"></span>
      </div>
      <h1>NEWLOOK</h1>
      <p>Στο κατάστημα οπτικών NEWLOOK θα βρείτε γυαλιά οράσεως και ηλίου, φακούς επαφής και υγρά των γνωστότερων εταιριών,
        αξεσουάρ και ο,τιδήποτε άλλο έχει σχέση με τα μάτια σας!</p>
    </section>

    <hr class="seperator">

    <section class="container" id="description">
      <div class="row">
        <div class="column column-33">
          <h2 class="title">ΛΙΓΑ ΛΟΓΙΑ</h2>
        </div>
        <div class="column">
          <p> Το κατάστημά μας ξεκίνησε τη λειτουργία του το 1989 στον κεντρικό δρόμο του Περιστερίου, Τζων Κέννεντυ, αρχικά
            στο νούμερο 95.
          </p>
          <p>Το 2005 μεταφερθήκαμε απέναντι, Τζων Κέννεντυ 104, όπου και συνεχίζουμε να βρισκόμαστε. Εκτός από το Περιστέρι,
            οπτικά NEWLOOK λειτουργούν από το 2002 και στη Μεγαλόπολη, Κολοκοτρώνη 16.</p>
          <p>Στα τόσα χρόνια λειτουργίας μας έχουμε κερδίσει την εμπιστοσύνη των πελατών μας, με τα ποιοτικά προϊόντα μας, την
            γρήγορη και ανθρώπινη εξυπηρέτηση, καθώς και τις φιλικές τιμές και προσφορές μας.</p>
          <p>Εξυπηρετούμε ασφαλισμένους όλων των ταμείων και είμαστε μέλη στη Συμμαχία Κατά της Ακρίβειας, σε συνεργασία με
            τον Βήμαfm 99,5 και την Ένωση Καταναλωτών της ΓΣΕΕ, κάνοντας ειδικές τιμές και εκπτώσεις προς άνεργους, πολύτεκνους,
            φοιτητές και άτομα με αναπηρία.</p>
        </div>
      </div>
    </section>

    <hr class="seperator">

    <section class="container" id="description">
      <div class="row">
        <div class="column column-33">
          <h2 class="title">ΒΡΕΙΤΕ ΜΑΣ</h2>
        </div>
        <div class="column">
          <p>
            <strong>ΚΑΤΑΣΤΗΜΑ ΠΕΡΙΣΤΕΡΙΟΥ</strong>
            <br> Τζων Κέννεντυ 104, Περιστέρι
            <br> 210 57 66 380
            <br> mantopoulos.newlook@gmail.com
          </p>
        </div>
        <div class="column">
          <p>
            <strong>ΚΑΤΑΣΤΗΜΑ ΜΕΓΑΛΟΠΟΛΗΣ</strong>
            <br> Κολοκοτρώνη 16, Μεγαλόπολη
            <br> 279 10 25 825
          </p>
        </div>
      </div>
    </section>

    <hr class="seperator">

    <footer class="footer">
      <section class="container">

        <p>Οπτικά NewLook &copy; 2018 - All rights reserved</p>

        <p>developed by
          <a href="http://cgeosoft.com" target="_blank">cgeosoft</a>
        </p>
      </section>

    </footer>

  </main>

</body>

</html>